<h1><%= @cocktail.name %></h1>

  <h1>Doses</h1>
<% if @cocktail.doses.empty? %>
  <h3>Add a dose</h3>
<% else %>
  <% @cocktail.doses.each do |dose|%>
    <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning" %>
    <h3><%= dose.description %> of <%= dose.ingredient.name %></h3>
  <% end %>
<% end %>

<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add Dose", class: "btn btn-success" %>
<% end %>
